<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1078460833504-o6lctkf0erb4j2hkug9romj1cqbqhu8q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1078460833504-o6lctkf0erb4j2hkug9romj1cqbqhu8q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1078460833504-1i99jcvql7ldjl0rjk2dktig1a6ne44p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDaOu1GruVuBM7sibgdlMH_48PDXv2gc-I</string>
	<key>GCM_SENDER_ID</key>
	<string>1078460833504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatme</string>
	<key>PROJECT_ID</key>
	<string>chatmeflutterapp</string>
	<key>STORAGE_BUCKET</key>
	<string>chatmeflutterapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1078460833504:ios:90c670b382715eeb737a85</string>
	<key>DATABASE_URL</key>
	<string>https://chatmeflutterapp-default-rtdb.firebaseio.com</string>
</dict>
</plist>